.heading {
   background-color: cornflowerblue;
   border-radius: 0 0 25px 25px;
   border-width: 5px;
   border-style: groove;

   -webkit-user-select: none; /* Webkit */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* IE 10 */
   /* Currently not supported in Opera but will be soon */
   -o-user-select: none;
   user-select: none;

   -ms-overflow-style: none;  /* IE and Edge */
   scrollbar-width: none;  /* Firefox */
}

.heading::-webkit-scrollbar {
   display: none;
 }

.heading > h1 {
   font-family:Verdana, Geneva, Tahoma, sans-serif;
   margin-top: 0;
   margin-bottom: 0;
}

.grid {
   margin: 45px 0 5px 0;
   border-radius: 1%;
   overflow-x: scroll;
   display: inline-block;
   padding: 2%;
   border-radius: 15px;
   box-shadow: 0 0 5px black;;
   border-width: 5px;
   background-color: azure;

   -webkit-user-select: none; /* Webkit */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* IE 10 */
   /* Currently not supported in Opera but will be soon */
   -o-user-select: none;
   user-select: none;

   -ms-overflow-style: none;  /* IE and Edge */
   scrollbar-width: none;  /* Firefox */
   
}

/* Hide scrollbar for Chrome, Safari and Opera */
.grid::-webkit-scrollbar {
   display: none;
 }
 

.selection-block {
   width: 500px;
   display: inline-block;
   -webkit-user-select: none; /* Webkit */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* IE 10 */
   /* Currently not supported in Opera but will be soon */
   -o-user-select: none;
   user-select: none;
}

.subtitle {
   border-radius: 5px;
   background-color: beige;
   padding: 5px;
   box-shadow: 0 0 5px black;
   font-family: monospace;
}

.selection {
   margin: 10px;
   padding: 1%;
   border-radius: 1%;
   background-color: lightcyan;
   font-family: monospace;
   font-weight: bolder;
}

.btn {
   margin: 10px;
   padding: 1%;
   border-radius: 1%;
   background-color: lavenderblush;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-weight: bolder;
}

#reset {
   background-color: lightcoral;
}

.legend {
   color: white;
   margin: 10px 0 10px 0;
   height: 55px;
}

.legendEntry {
   margin-right: 35px;
   display: inline-block;
   top: 25%;
   position: relative;
}

.legendText {
   position: relative;
   bottom: 5px;
   left: 5px;
   font-weight: bold;
}
