.tile {
   height: 25px;
   width: 25px;
   outline: 1px solid black;
   display: inline-block;
   background-color: lavender;
   transition: 0.1s;
}

.tile:hover {
   /* Margin needs to be (pre-tile_hover_width - hover_tile_width) / 2 */
   height: 35px;
   width: 35px;
   z-index: 100;
   position: relative;
   margin: -5px;
}

.start-tile {
   background-color: lightgreen;
}

.finish-tile {
   background-color: lightcoral;
}

.visited-tile {
   background-color: lightblue;
}

.shortestpath-tile {
   background-color: lightyellow;
}

.obstacle-tile {
   background-color: lightgray;
}